[data-component="user"] {
    margin-left: auto;
}
.user-component {
    font-family: var(--permobil-navigator-font-family);    
    position: relative;

    & * {
        font-family: var(--permobil-navigator-font-family);
    }

    &__modal {
        font-family: var(--permobil-navigator-font-family);    

        & * {
            font-family: var(--permobil-navigator-font-family);
        }

        .__booya-profile-form {
            padding: 40px;
            width: 320px;
            max-width: none;
        }
    }

    &__auth-button {
        background: none;
        border: none;
        color: #414042;
        cursor: pointer;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        padding: 8px 10px;
        margin: 0 0 0 14px;
        white-space: nowrap;

        @media(max-width: 767px){
            display: none;
        }

        &:hover {
            background: none;
            color: var(--permobil-royal-blue, #0067A6);
        }

        &:focus {
            background: none;
            color: var(--permobil-royal-blue, #0067A6);
            outline-width: 0;
        }
    }

    &__dropdown {
        background: #FFFFFF;
        border-radius: 0px;
        box-shadow: inset 0px 4px 0px #0067A6;
        left: 0;
        padding: 32px;
        position: absolute;
        top: calc(100% + 4px);

        @media(max-width: 1023px) { 
            padding: 24px;
        }


        ul {
            min-width: 108px;
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid rgba(65, 64, 66, 0.1);
                list-style-type: none;
                margin: 0 0 12px;
                padding: 0 0 12px;

                a {
                    align-items: center;
                    color: #191919;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    justify-content: flex-start;
                    line-height: normal;
                    text-decoration: none;

                    &:hover {
                        color: var(--permobil-royal-blue, #0067A6);
                        text-decoration: none;
                    }

                    svg {
                        margin-right: 6px;
                    }
                }
            }

            li:last-of-type {
                border-bottom: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    &__dropdown--left {
        left: 0;
        right: auto;

        @media(max-width: 576px){
            left: -20px;
        }
    }

    &__dropdown--right {
        right: 0;
        left: auto;

        @media(max-width: 576px){
            right: -20px;
        }
    }
    &__dropdown--center {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    &__user-button {
        align-items: center;
        background: #F5F8FA;
        border: none;
        border-radius: 0px;
        color: #0067A6;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0 0 0 50px;
        padding: 8px;

        &:hover {
            background: #F5F8FA;
            color: #0067A6;

            .user-component__user-button-name {
                color: #0067A6;
            }
        }

        &:focus {
            background: #EDF8FF;
            color: #0067A6;
            outline-width: 0;

            .user-component__user-button-name {
                color: #0067A6;
            }
        }

        &--opened {
            background: #EDF8FF;

            .user-component__user-button-name {
                color: #0067A6;
            }
        }

        @media(max-width: 1023px){ 
            padding: 6px;
            border-radius: 36px;
        }

        &-avatar {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            display: block;
            height: 32px;
            margin-right: 6px;
            min-width: 32px;
            width: 32px;

            @media(max-width: 1023px){
                height: 24px;
                min-width: 24px;
                width: 24px;
            }

            @media(max-width: 576px){
                margin-right: 0;
            }
        }

        &-name {
            display: block;
            color: var(--permobil-charcoal, #414042);
            font-weight: 500;
            font-size: 13px;
            line-height: normal;
            margin-right: 8px;
            white-space: nowrap;

            @media(max-width: 576px){
                display: none;
            }
        }
    }
}
/*.__booya-banner {
    display: none !important;
}*/