body.ReactModal__Body--open {
    height: 100vh;
    overflow-y: hidden;
}

.contact-component {
    font-family: var(--permobil-navigator-font-family);
    display: inline-block;
    margin: 0 2px;
    position: relative;

    & * {
        font-family: var(--permobil-navigator-font-family);
    }
    
    button {
        align-items: center;
        background: #F5F8FA;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        color: #0A1318;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0;
        padding: 16px 32px;

        @media(max-width: 1023px){
            padding: 10px 32px;
        }

        @media(max-width: 576px){
            padding: 10px 15px;
        }

        &:hover {
            background: #F5F8FA;
            color: #0067A6;
        }

        &:focus {
            background: #FFFFFF;
            color: #0067A6;
            outline-width: 0;
        }
        
        &.dropdown-opened {
            background: #FFFFFF;
            color: #0067A6;
        }

        svg {
            margin-right: 4px;

            @media(max-width: 576px){
                margin-right: 0;
            }
        }

        span {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;

            @media(max-width: 576px){
                display: none;
            }
        }
    }

    &__dropdown {
        background: #FFFFFF;
        border-radius: 0px;
        box-shadow: inset 0px 4px 0px #0067A6;
        left: 0;
        padding: 32px;
        position: absolute;
        top: calc(100% + 4px);

        @media(max-width: 1023px) { 
            padding: 24px;
        }


        &-menu {
            border-top: 1px solid #DFE1E5;
            min-width: 194px;
            margin: 20px 0 0;
            padding: 20px 0 0;

            li {
                list-style-type: none;
                margin: 0 0 10px;
                padding: 0 0 10px;

                a {
                    align-items: center;
                    color: #0067A6;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    justify-content: flex-start;
                    line-height: normal;
                    text-decoration: none;

                    &:hover {
                        color: #0067A6;
                        text-decoration: none;
                    }

                    svg {
                        width: 100%;
                        height: auto;
                        margin-right: 6px;
                        max-width: 17px;
                        max-height: 17px;
                    }
                }
            }

            li:last-of-type {
                border-bottom: none;
                margin: 0;
                padding: 0;
            }
        }

        &-support {
            padding-top: 27px;
            margin-top: 27px;
            border-top: 1px solid #DFE1E5;

            &-link {
                align-items: center;
                color: #0067A6;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: normal;
                margin: 0;
                padding: 0;
                text-decoration: none;

                &:visited {
                    color: #0067A6;
                }

                &:hover {
                    color: #0067A6;
                    text-decoration: none;
                }

                &:focus {
                    color: #0067A6;
                    text-decoration: none;
                    outline-width: 0px;
                }

                svg {
                    margin-right: 6px;
                }

                span {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                }

            }
        }
    }

    &__dropdown--left {
        left: 0;
        right: auto;

        @media(max-width: 576px){
            left: -20px;
        }
    }

    &__dropdown--right {
        right: 0;
        left: auto;

        @media(max-width: 576px){
            right: -20px;
        }
    }
    &__dropdown--center {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    &__sales {
        transition: all 0.5s ease-in-out;
        width: 194px;
    }

    &__sales--with-results {
        width: 260px;
    }

    &__sales {

        &-title {
            align-items: center;
            color: #191919;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: normal;
            margin: 0 0 12px;
            padding: 0;

            svg {
                margin-right: 6px;
            }

            span {
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }

        &-form {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;

            label {
                color: #191919;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                margin: 0 0 13px;
                max-width: 100%;
                padding: 0;
                width: 100%;
            }

            &-input {
                align-items: center;
                
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                max-width: 100%;
                padding: 0;
                position: relative;
                width: 100%;


                &-error {
                    color: #E51A92;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 150%;
                    margin: 12px 0 0;
                    overflow: hidden;
                    padding: 0;
                    text-overflow: ellipsis;
                    width: 100%;
                    white-space: nowrap;
                }

                svg {
                    display: none;
                }

                input {
                    background: #F5F8FA;
                    border: none;
                    border-radius: 0px;
                    box-sizing: border-box;
                    color: #191919;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    height: 36px;
                    margin: 0;
                    outline-width: 0px;
                    padding: 12px 17px 12px;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    z-index: 1;

                    &:focus {
                        outline-width: 0px;
                    }
                }
            }
        }

        &-searching {
            color: #191919;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            margin: 0;
            padding: 0;
        }

        &-loading {
            margin-top: -10px;
            text-align: center;
            margin-bottom: -30px;

            svg {
                max-width: 130px;
            }
        }

        &-results {

            &-wrapper {
                height: 0;
                transition: all 0.5s ease-in-out;
                overflow: hidden;

                &--length-0 {
                    height: 0;
                }
                &--length-1 {
                    height: 132px;
                }
                &--length-2 {
                    height: 222px;
                }
                &--length-3 {
                    height: 312px;
                }
            }

            &-title {
                color: #191919;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                margin: 0 0 12px;
                padding: 0;
            }
            &-change {
                color: #0067A6;
                cursor: pointer;
                font-weight: 600;
            }
        }

        &-result {
            align-items: center;
            background: #fff;
            border-radius: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin-top: 12px;
            padding: 0;
            width: 100%;


            &-image {
                background-color: #eee;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 0;
                height: 78px;
                margin-right: 10px;
                min-width: 78px;
            }

            &-details {
                overflow: hidden;

                &-name {
                    color: #0A1318;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 120%;
                    margin: 0 0 4px;
                    overflow: hidden;
                    padding: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &-jobtitle {
                    color: #0A1318;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 120%;
                    margin: 0 0 8px;
                    opacity: 0.8;
                    overflow: hidden;
                    padding: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                button {
                    background: #0067A6;
                    border: none;
                    border-radius: 2px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    cursor: pointer;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    height: 22px;
                    line-height: 110%;
                    padding: 5px 9px;

                    &:hover {
                        background: #0067A6;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    
}

@media(max-width: 1023px){
    .navbar-menu-wrapper {
        order: 3;
    }
    .navbar-menu {
        z-index: 1;
    }
}

.sales-modal {
    font-family: var(--permobil-navigator-font-family);

    & * {
        font-family: var(--permobil-navigator-font-family);
    }

    &__close {
        color: #222222;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;

        span {
            display: block;
            line-height: 0;
            padding: 5px;
        }
    }

    &__container {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        @media(max-width: 576px){
            flex-wrap: wrap;
        }
    }

    &__image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 297px;   
        min-width: 297px;
        min-height: 297px;

        @media(max-width: 767px){
            width: 200px;   
            min-width: 200px;
            min-height: 200px;
        }

        @media(max-width: 576px){
            width: 100%;   
            min-width: 100%;
            padding-bottom: 100%;
            height: auto;
            min-height: auto;
        }
    }

    &__content {
        flex-grow: 1;
        padding: 35px 50px;
        position: relative;

        @media(max-width: 767px){
            padding: 35px 30px;
        }

        @media(max-width: 576px){
            padding: 35px 20px;
        }
    }

    &__title {
        color: #333333;
        font-weight: 500;
        font-size: 32px;
        line-height: normal;
        margin-bottom: 25px;
        padding: 0;
        margin: 0 0 40px;
        text-align: left;
    }

    &__buttons {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0;
    }

    &__button {
        align-items: center;
        font-family: inherit;
        background: transparent;
        border: none;
        border-top: 1px solid #DFE1E5;
        border-radius: 0;
        color: #414042;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        margin: 0;
        padding: 20px 0;
        text-align: left;
        text-decoration: none;

        &:hover {
            color: #0067A6;
            text-decoration: none;
        }

        &:focus {
            outline-width: 0px;
        }

        span {
            margin-right: 10px;
        }
    }

    &__form {
        
        p,
        .submitted-message {
            text-align: center;
        }

        form {
            width: 100%;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: flex-start;
            padding: 15px 0;

            ul {
                margin: 5px 0;
                padding: 0;

                li {
                    list-style-type: none;
                    font-weight: 300;
                    font-size: 15px;
                }
            }

            input[type=text],
            input[type=email],
            input[type=password],
            input[type=tel],
            input[type=number],
            input[type=file],
            select,
            textarea {
                background-color: #F5F8FA;
                border: none;
                border-radius: 0px;
                box-sizing: border-box;
                color: #000;
                display: inline-block;
                font-size: 17px;
                height: 48px;
                padding: 11px 20px 10px;
                width: 100% !important;
            }

            textarea {
                min-height: 96px;
                resize: none;
            }

            fieldset {
                max-width: 100% !important;
                margin: 0 !important;
            }
        }

        .hs-form-field {
            margin: 0 0 20px;
        }

        .hs-form-field > label:nth-child(1) span {
            color: #0A1318;
            font-size: 17px;
            font-weight: normal;
            line-height: 27px;
        }

        .hs_error_rollup {
            margin-bottom: 20px;
        }

        .hs-error-msgs {
            
            label {
                font-size: 15px;
                color: #E51A92;
            }

            a {
                color: #E51A92;
                text-decoration: underline;

                &:hover {
                    color: #E51A92;
                    text-decoration: none;
                }
            }
        }

        

        .hs-submit {
            align-self: flex-end;
        }

        .hs-form-field ::placeholder {
            font-family: var(--permobil-navigator-font-family);
            color: #0A1318;
        }
          
        .hs-form-field :-ms-input-placeholder { 
            font-family: var(--permobil-navigator-font-family);
            color: #0A1318;
        }
          
        .hs-form-field ::-ms-input-placeholder { 
            font-family: var(--permobil-navigator-font-family);
            color: #0A1318;
        }

        .button,
        input[type="submit"] {
            display: inline-block;
            background: #0067A6;
            border: none;
            border-radius: 2px;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-size: 17px;
            font-weight: 500;
            line-height: 27px;
            margin: 8px 0;
            padding: 10px 27px;
            text-align: center;
            text-decoration: none;

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }

    


}

/* SVg Loading animation */
$len: 242px;
$dot: 0.02;
$time: 1.8s;
#loading-outline {
    stroke-dasharray: $len * $dot, $len * $dot, $len * $dot, $len * $dot,
    $len * $dot, $len;
    stroke-dashoffset: 0;
    animation: anim $time linear infinite;
}
@keyframes anim {
    0% {
        stroke-dasharray: $len * $dot, $len * $dot, $len * $dot, $len * $dot,
        $len * $dot, $len;
        stroke-dashoffset: 0;
    }
    12.5% {
        stroke-dasharray: $len * $dot * 1.2, $len * $dot, $len * $dot * 1.2,
        $len * $dot, $len * $dot * 1.2, $len;
        stroke-dashoffset: -$len * 0.11;
    }
    43.75% {
        stroke-dasharray: $len * $dot * 1.5, $len * $dot, $len * $dot * 1.5,
        $len * $dot, $len * $dot * 1.5, $len;
        stroke-dashoffset: -$len * 0.35;
    }
    100% {
        stroke-dasharray: $len * $dot, $len * $dot, $len * $dot, $len * $dot,
        $len * $dot, $len;
        stroke-dashoffset: -$len * 0.99;
    }
}