.contact-component {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: 0 2px;
    position: relative;
    
    button {
        align-items: center;
        background: var(--permobil-light-grey, #F5F8FA);
        border: none;
        border-radius: 9px;
        box-shadow: none;
        color: var(--permobil-charcoal, #414042);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0;
        padding: 16px 32px;

        @media(max-width: 1023px){
            padding: 10px 32px;
        }

        @media(max-width: 576px){
            padding: 10px 15px;
        }

        &:hover {
            background: var(--permobil-light-grey, #F5F8FA);
            color: var(--permobil-royal-blue, #0067A6);
        }

        &:focus {
            color: var(--permobil-royal-blue, #0067A6);
            outline-width: 0;
        }
        
        &.dropdown-opened {
            background: var(--permobil-light-blue, #EDF8FF);
            color: var(--permobil-royal-blue, #0067A6);
        }

        svg {
            margin-right: 4px;

            @media(max-width: 576px){
                margin-right: 0;
            }
        }

        span {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;

            @media(max-width: 576px){
                display: none;
            }
        }
    }

    &__dropdown {
        background: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
        left: 0;
        padding: 32px;
        position: absolute;
        top: calc(100% + 8px);

        @media(max-width: 1023px) { 
            padding: 24px;
        }


        &-menu {
            min-width: 160px;
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid rgba(65, 64, 66, 0.1);
                list-style-type: none;
                margin: 0 0 12px;
                padding: 0 0 12px;

                a {
                    align-items: center;
                    color: #191919;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    justify-content: flex-start;
                    line-height: normal;
                    text-decoration: none;

                    &:hover {
                        color: var(--permobil-royal-blue, #0067A6);
                        text-decoration: none;
                    }

                    svg {
                        margin-right: 6px;
                    }
                }
            }

            li:last-of-type {
                border-bottom: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    &__dropdown--left {
        left: 0;
        right: auto;

        @media(max-width: 576px){
            left: -20px;
        }
    }

    &__dropdown--right {
        right: 0;
        left: auto;

        @media(max-width: 576px){
            right: -20px;
        }
    }
    &__dropdown--center {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    &__sales {
        width: 260px;

        &-title {
            color: var(--permobil-primary, #0A1C2D);
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin: 0 0 21px;
            opacity: 0.8;
            padding: 0;
        }

        &-form {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            label {
                color: #191919;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 18px;
                margin: 0 12px 0 0;
                max-width: calc(50% - 12px);
                padding: 0;
                width: 100%;
            }

            &-input {
                align-items: center;
                background: var(--permobil-light-grey, #F5F8FA);
                border: none;
                border-radius: 31px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                height: 36px;
                max-width: 50%;
                padding: 12px;
                position: relative;
                width: 100%;

                &-error {
                    color: red;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    left: 0;
                    line-height: 120%;
                    margin: 0;
                    opacity: 0.8;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    text-overflow: ellipsis;
                    top: -20px;
                    width: 100%;
                    white-space: nowrap;
                }

                svg {
                    margin-right: 21px;
                    min-width: 13px;
                }

                input {
                    background: transparent;
                    border: none;
                    box-sizing: border-box;
                    color: #191919;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    margin: 0;
                    padding: 0;
                    width: calc(100% - 13px - 21px);

                    &:focus {
                        outline-width: 0px;
                    }
                }
            }
        }

        &-searching {
            color: var(--permobil-primary, #0A1C2D);
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;
            margin: 0;
            opacity: 0.8;
            padding: 0;
        }

        &-results {
            border-top: 1px solid rgba(65, 64, 66, 0.1);
            margin: 12px 0 0;
            padding: 12px 0 0;

            &-title {
                color: var(--permobil-primary, #0A1C2D);
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                margin: 0;
                opacity: 0.8;
                padding: 0;
            }
        }

        &-result {
            align-items: center;
            background: var(--permobil-light0grey, #F5F8FA);
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin-top: 12px;
            padding: 12px;

            &-image {
                background-color: #eee;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                height: 48px;
                margin-right: 8px;
                min-width: 48px;
            }

            &-details {
                overflow: hidden;

                &-name {
                    color: var(--permobil-charcoal, #414042);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 120%;
                    margin: 0 0 4px;
                    overflow: hidden;
                    padding: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &-jobtitle {
                    color: var(--permobil-charcoal, #414042);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 120%;
                    margin: 0 0 6px;
                    opacity: 0.8;
                    overflow: hidden;
                    padding: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                button {
                    background: var(--permobil-ocean, #009AC7);
                    border: none;
                    border-radius: 3px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    cursor: pointer;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    height: 22px;
                    line-height: 110%;
                    padding: 5px 9px;

                    &:hover {
                        background: var(--permobil-ocean, #009AC7);
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    
}

@media(max-width: 1023px){
    .navbar-menu-wrapper {
        order: 3;
    }
    .navbar-menu {
        z-index: 1;
    }
}

.sales-modal {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;

    &__image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 25px;
        padding-bottom: 50%;
        width: 100%;   
    }

    &__title {
        font-size: 150%;
        margin-bottom: 25px;
        padding: 0 20px;
        text-align: center;
    }

    &__buttons {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0 20px;
    }

    &__button {
        font-family: 'Open Sans', sans-serif;
        background: #1668a6;
        border: 0 none;
        border-radius: 0;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
        margin: 8px 0;
        padding: 0 1em;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &__form {
        padding: 0 20px;

        p,
        .submitted-message {
            text-align: center;
        }

        form {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            ul {
                margin: 5px 0;
                padding: 0;

                li {
                    list-style-type: none;
                    font-weight: 300;
                    font-size: 15px;
                }
            }
        }
  
        .hs-form-field {
            display: grid;
            align-items: start;
            grid-template-columns: min-content 1fr;
            grid-column-gap: 2em;
            margin-bottom: 1em;
            width: 100%;
            max-width: 400px;
        }
        .hs-form-field > * {
          grid-column: 1 / span 2;
        }
        .hs-form-field > label {
            grid-column: 1;
            font-weight: 300;
            min-width: 6em;
            text-align: left;
        }
        .hs-form-field > .input {
            grid-column: 2;
        }
        .hs-form-field .input textarea,
        .hs-form-field .input input {
            width: 100%;
        }
        .hs-form-field .input input {
            min-height: 22px;
        }

        .button,
        input[type="submit"] {
            display: inline-block;
            background: #1668a6;
            border: 0 none;
            border-radius: 0;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
            margin: 8px 0;
            padding: 0 1em;
            text-align: center;
            text-decoration: none;

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
}