:root {
  --permobil-charcoal: #414042;
  --permobil-royal-blue: #0067A6;
  --permobil-light-grey: #F5F8FA;
  --permobil-light-blue: #EDF8FF;
}

.navbar.c--standalone-header-navigation {
  padding-top: 4px;
  padding-bottom: 4px;
}